* {
        margin: 0;
        padding: 0;
}

body {
        box-sizing: border-box;
        background-color: rgb(211, 176, 129);
}

.container {
        height: 50vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: column;
        
}

.input {
        height: 20%;
        width: 40%;
        font-size: 24px;
        border-color: blue;
        margin: 10px;
        
}

.button {
        height: 10%;
        width: 40%;
        border: none;
        background: #12c2e9;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        cursor: pointer;
        border-radius: 100px;
}

textarea {
        width:50%;
        resize: vertical;
        padding:15px;
        border-radius:15px;
        border:0;
        box-shadow:4px 4px 10px rgba(0,0,0,0.06);
        height:50%;
        margin: 10px;
      }

      .popup {
        position: absolute;
        width:50%;
        resize: vertical;
        padding:15px;
        border-radius:15px;
        border:0;
        box-shadow:4px 4px 10px rgba(0,0,0,0.06);
        height:50%;
        margin: 10px;
        background-color: black;
        color: white;
        font-size: 28px;
      }

      .hidden {
        display: none;
      }
      .rickhead img{
        width: 230px;
      }
      .chat{
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
      }
        .msg-list {
        width: 100%;
    }
        .messenger-container {
        top: 50px;
        padding: 8px 15px 8px 13px;
        margin: 0 0 25px 35px;
        float: left;
        max-width: 82%;
        background: #f2f2f2;
        border-radius: 10px;
        min-width: 20%;
        position: relative; box-sizing: border-box;
        box-shadow: 7px 10px 6px -5px #BBC0C7;
    }
    .messenger-container p {
       color: #3D3D3D;
        font-size: 18px;
        margin-bottom: 6px;
        line-height: 18px;
        word-wrap: break-word; margin: 0;
    }
    .sender .messenger-container {
        top: 230px;
        float: right;
        margin-right: 35px;
        width: auto;
        background: #D5DBFF;
        margin-left: 0px;
        padding: 8px 15px 8px 13px;
    }
    .clear {
        clear:both;
        width: 100%;
        padding: 0px !important;
        margin: 0px;
        height:0px;
    }
       .messenger-container::before {
           width: 0px;
           height: 0px;
           border-top: 8px solid transparent;
           border-bottom: 8px solid transparent; 

           border-right:15px solid #f2f2f2; 
           content: "";
           position: absolute;
           top: 9px;
           left: -15px;
       }
    .sender .messenger-container::before {
          width: 0px;
          height: 0px;
          border-top: 8px solid transparent;
          border-bottom: 8px solid transparent;
          border-left: 15px solid #D5DBFF;
          content: "";
          position: absolute;
          top: 9px;
          left: 99%;border-right: none;
   }